# This workflow creates a GitHub release, intended to trigger a production deployment.
name: 'Create release'
permissions:
  contents: write

on:
  push:
  schedule:
    # every Monday 1am central time (1 hour before jobs are scheduled to run)
    - cron: '0 7 * * 1'  # in UTC

jobs:
  create_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create release tag
        id: create_release_tag
        uses: amitsingh-007/next-release-tag@v6.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag_prefix: 'v'
          tag_template: 'yyyy.mm.dd.i'

      - name: echo release tag
        run: echo "Release tag from ${{ steps.create_release_tag.outputs.prev_release_tag }} to ${{ steps.create_release_tag.outputs.next_release_tag }}"

      - uses: https://github.com/ncipollo/release-action@v1.20.0
        with:
            tag: "${{ steps.create_release_tag.outputs.next_release_tag }}"
            # This commit will be used to create the tag if it does not exist
            commit: "yl/autocreate-release"
            generateReleaseNotes: true
            makeLatest: true
