# This workflow creates a GitHub release, intended to trigger a production deployment.
name: 'Create release'
permissions:
  contents: write

on:
  push:
  schedule:
    # every Monday 1am central time (1 hour before jobs are scheduled to run)
    - cron: '0 7 * * 1'  # in UTC

jobs:
  create_release:
    runs-on: ubuntu-latest
    outputs:
      next_release_tag: ${{ steps.create_release_tag.outputs.next_release_tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create release tag
        id: create_release_tag
        uses: amitsingh-007/next-release-tag@v6.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag_prefix: 'v'
          tag_template: 'yyyy.mm.dd.i'
          previous_tag: 'v2025.11.23.2'

      - name: echo release tag
        run: echo "Release tag from ${{ steps.create_release_tag.outputs.prev_release_tag }} to ${{ steps.create_release_tag.outputs.next_release_tag }}"

      - uses: ncipollo/release-action@v1.20.0
        with:
            tag: "${{ steps.create_release_tag.outputs.next_release_tag }}"
            # This commit will be used to create the tag if it does not exist
            commit: "main"
            generateReleaseNotes: true
            makeLatest: true

  call-release-notes:
    runs-on: ubuntu-latest
    needs: create_release
    steps:
      - name: Echo Release Information
        run: |
          echo "next release tag: ${{ needs.create_release.outputs.next_release_tag }}"
          echo "JSON: ${{ toJSON(github) }}"
